<div class="card card-custom gutter-b">
    <div class="card-body">
        <div id="kt_kanban_1">
            <div class="kanban-container" style="width: 1000px;">
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
    </div>
</div>


