@page "/reset-request"

<div class="d-flex flex-row-fluid flex-center">
    <div class="login-forgot">
        <div class="text-center mb-10 mb-lg-20">
            <h3 class="">We just sent you a Reset password link</h3>
            <p class="text-muted font-weight-bold font-size-h4">
                If you don't see our email in your inbox, check your spam folder.
            </p>
        </div>
    </div>
</div>