<div class="d-flex flex-column-fluid">
    <div class="container">
        <div id="adminPageHeader">
            <div class="card card-custom">                
                <div class="card-header border-0 py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">@Title</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">@MutedText</span>
                    </div>
                    <div class="card-toolbar">
                        @ChildContent                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {    
    
}
