@page "/startupweekend"

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin::Invoice-->
                    <div class="row justify-content-center  px-md-0">
                        <div class="col-md-10">
                            <center>
                            <img src="_content/OneUX/assets/imgs/DTU-Cover.png" alt="logo">
                                </center>
                                <br />
                            <div class="d-flex justify-content-center">
                                <span class="font-size-h3 font-weight">
                                    The Entrepreneurship Cell of Delhi Technological University is organizing it’s annual
                                    ‘Techstars Startup Weekend’ powered by Google for Startups from 23rd to 25th October
                                    2020.
                                    Startup Weekend provides a platform that allows the early stage Startups to take giant leaps in the business world and lay the foundation of their dreams with like-minded people.
                                    The top startup ideas will be awarded cash prizes, certified hampers, and goodies, along with investment and incubation opportunities to kickstart their entrepreneurial journey.
                                    Get cash prizes, incubation opportunities, free website domains, goodies, and gift coupons along with a golden opportunity to network with the best of the industry
                                </span>
                            </div>
                            <br />
                            <div class="timeline timeline-4">
                                <div class="timeline-bar"></div>
                                <div class="timeline-items">
                                    <div class="timeline-item timeline-item-left">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Step 1</span>
                                        </div>

                                        <div class="timeline-content">
                                            The participants need to post their idea on the feedpage with the hashtag <b>"#StartupWeekend #DTU"</b>
                                        </div>
                                    </div>
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Step 2</span>
                                        </div>
                                        <div class="timeline-content">
                                            Fill in the Business Model Canvas. For this you need to click on the <b>Submit BMC</b> Button present at the DTU Event Card.
                                            After submitting you will receive a toast notification at top right of the screen
                                        </div>
                                    </div>
                                    <div class="timeline-item timeline-item-left">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Step 3</span>
                                        </div>

                                        <div class="timeline-content">
                                            After Submitting the Business Model Canvas click on the button named <b>Submit Plan</b> to submit your Business Plan
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                         
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        @code {

                        }
