@page "/empresario"
@attribute [AllowAnonymous]

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin::Invoice-->
                    <div class="row justify-content-center pt-8 px-8 pt-md-27 px-md-0">
                        <div class="col-md-10">
                            <div class="d-flex justify-content-between align-items-center">
                                <h1 class="display-1 font-weight-boldest">Empresario - 2021</h1>
                                <a href="#" class="max-w-200px">
                                    <img src="_content/OneUX/assets/imgs/Empresario-Logo.jpg" alt="logo">
                                </a>
                            </div>
                       
                            <div class="d-flex justify-content-center">
                                <span class="d-flex flex-column font-size-h3 font-weight-bold">
                                    Empresario is the annual business model competition organized by Enterprneurship Cell IIT Kharagpur in association with International Business Model Competition(IBMC).
                                    <p>Enterpreneurship Cell is searching for innovative and enterprising ideas through Empresario. Empresario 2021  Empresario, India's first B-Model Competition, provides a platform for startups to get excellent professional mentorship from our experienced, varied and distinguished mentor pool, and to showcase their ideas in front of Venture Capitalists, Angel Investors, and Industry Leaders.</p>
                                </span>
                            </div>

                            <!--end: Invoice header-->
                            <!--begin: Invoice body-->
                            <div class="card card-custom gutter-b">
                                <div class="card-header card-header-tabs-line">
                                    <div class="card-title">
                                        <h3 class="card-label">All You Need To Know About Empresario 2021</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_2">Structure</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_2">Incentives</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="kt_tab_pane_1_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                            <div class="timeline timeline-4">
                                                <div class="timeline-bar"></div>
                                                <div class="timeline-items">
                                                    <div class="timeline-item timeline-item-left">
                                                        <div class="timeline-badge">
                                                            <div class="bg-danger"></div>
                                                        </div>

                                                        <div class="timeline-label">
                                                            <span class="text-primary text-dark-75 font-weight-bold">Online Form Submission</span>
                                                        </div>

                                                        <div class="timeline-content">
                                                            The team needs to register on the Empresario website.After that a team can log into their account and fill the form.
                                                        </div>
                                                    </div>
                                                    <div class="timeline-item timeline-item-right">
                                                        <div class="timeline-badge">
                                                            <div class="bg-danger"></div>
                                                        </div>
                                                        <div class="timeline-label text-primary">
                                                            <span class="text-primary text-dark-75 font-weight-bold">Early Bird</span>
                                                        </div>
                                                        <div class="timeline-content">
                                                           Additional incentives include extended mentorship and a face to face mentoring session for shortlisted terms.
                                                        </div>
                                                    </div>
                                                    <div class="timeline-item timeline-item-left">
                                                        <div class="timeline-badge">
                                                            <div class="bg-danger"></div>
                                                        </div>

                                                        <div class="timeline-label">
                                                            <span class="text-primary text-dark-75 font-weight-bold">Mentorship</span>
                                                        </div>

                                                        <div class="timeline-content">
                                                            Mentorship will be provided to shortlisted teams. The participants are required to make optimum utilization of the mentoring process so as to create an appropriately refined Business Model.
                                                        </div>
                                                    </div>
                                                    <div class="timeline-item timeline-item-right">
                                                        <div class="timeline-badge">
                                                            <div class="bg-danger"></div>
                                                        </div>

                                                        <div class="timeline-label">
                                                            <span class="text-primary text-dark-75 font-weight-bold">Final Submission</span>
                                                        </div>

                                                        <div class="timeline-content">
                                                            After mentoring , the teams have to submit their final Business Model in a prescribed format.
                                                        </div>
                                                    </div>
                                                    <div class="timeline-item timeline-item-left">
                                                        <div class="timeline-badge">
                                                            <div class="bg-danger"></div>
                                                        </div>

                                                        <div class="timeline-label">
                                                            <span class="text-primary text-dark-75 font-weight-bold">Grand Finale</span>
                                                        </div>

                                                        <div class="timeline-content">
                                                            The final short listed teams will present their final Business Model in front of the judging panel during the Global Entrepreneurship Summit 2021.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="kt_tab_pane_2_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                                            <div class="timeline timeline-6 mt-3">
                                                <!--begin::Item-->
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Prize Worth INR 25 Lakhs
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <!--end::Item-->

                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Official Entry To IBMC From India
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"</div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Elevator Pitch
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Expert Mentoring
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Networking
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Startup Service
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Incubation Opportunities
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                                <div class="timeline-item align-items-start">
                                                    <!--begin::Label-->
                                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
                                                    <!--end::Label-->
                                                    <!--begin::Badge-->
                                                    <div class="timeline-badge">
                                                        <i class="fa fa-genderless text-warning icon-xl"></i>
                                                    </div>
                                                    <!--end::Badge-->
                                                    <!--begin::Text-->
                                                    <div class="font-weight-mormal font-size-lg timeline-content text-dark-75 pl-3">
                                                        Feedback
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div><!--end: Invoice body-->
                        </div>
                    </div>

                    <!--end::Invoice-->
                </div>

            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>


@code {

}
