@page "/ideathon"
@attribute [AllowAnonymous]

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <div class="card card-custom">
                <div class="card-body p-0">
                    <!--begin::Invoice-->
                    <div class="row justify-content-center pt-8 px-8 pt-md-27 px-md-0">
                        <div class="col-md-10">
                            <div class="d-flex justify-content-between align-items-center">
                                <h1 class="display-1 font-weight-boldest">Ideathon 2020 - HEADSTART</h1>
                                <a href="#" class="max-w-200px">
                                    <img src="_content/OneUX/assets/imgs/Headstart-Logo.jpg" alt="logo">
                                </a>
                            </div>
                            <div class="mt-13 mb-13">
                                <img src="_content/OneUX/assets/imgs/Headstart-Cover.png" alt="coverImg" style="width:100%;height:auto;" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <span class="d-flex flex-column font-size-h3 font-weight-bold">

                                    Headstart is one of India's oldest and largest startup ecosystem development organizations. We have been chasing the vision 'changing the world with entrepreneurship' ever since.

                                    It is a not-for-profit organization, almost entirely volunteer driven!They are all in it for the love of building and sustaining communities. Headstart's volunteers are a passionate bunch -  entrepreneurs, aspiring entrepreneurs and entrepreneurship enthusiasts, with a fervent desire and commitment to being change agents.
                                    To play in the worlds of fads and delighters and obtain sustainable growth out of this represents a unique challenge for all upcoming enterpreneurs and startups. Our competition, 'Ideathon 2020," provides a platform to get your plan vetted by the best in the industry.
                                </span>
                            </div>
                            
                            <!--end: Invoice header-->
                            <!--begin: Invoice body-->
                            <!--end: Invoice body-->
                        </div>
                    </div>

                    <!--end::Invoice-->
                </div>
               
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>


@code {

}
