<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Updates</h3>
        </div>
        <div class="kt-widget-6 float-right kt-padding-t-10">
            @*<OneUX_InputSelect InputAttributes="tagAttributes">
                <option value="1">Funding Rounds</option>
                <option value="2">Total Fundings</option>
                <option value="3">Events</option>
                <option value="4">Competetion</option>
                <option value="5">Co-Working Space</option>
            </OneUX_InputSelect>*@
        </div>
    </div>
    <!-- begin::Tab -->
    <div class="kt-grid-nav">
        <a href="#" class="kt-grid-nav__item">
            <div class="kt-grid-nav__item-icon"><h3 class="text-info">150</h3></div>
            <div class="kt-grid-nav__item-title">Funding Rounds</div>
        </a>
        <a href="#" class="kt-grid-nav__item border-right-0">
            <div class="kt-grid-nav__item-icon"><h3 class="text-info">100</h3></div>
            <div class="kt-grid-nav__item-title">Total Fundings</div>
        </a>
        <a href="#" class="kt-grid-nav__item">
            <div class="kt-grid-nav__item-icon"><h3 class="text-info">50</h3></div>
            <div class="kt-grid-nav__item-title">Events Held</div>
        </a>
        <a href="#" class="kt-grid-nav__item border-right-0">
            <div class="kt-grid-nav__item-icon"><h3 class="text-info">100</h3></div>
            <div class="kt-grid-nav__item-title">Student Entreprenures</div>
        </a>
    </div>
    <!-- end::Tab-->
</div>


@code{
   
}