<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Trendings</h3>
        </div>
        @*<div class="kt-widget-6 float-right kt-padding-t-10">
            <a class="btn btn-link btn-bold btn-label-brand">View All</a>
        </div>*@
    </div>
        <!-- begin::Tab -->
        <div class="kt-grid-nav">
            <a href="#" class="kt-grid-nav__item">
                <div class="kt-grid-nav__item-icon"><i class="flaticon-profile"></i></div>
                <div class="kt-grid-nav__item-title">People</div>
            </a>
            <a href="/sketchpad" class="kt-grid-nav__item border-right-0">
                <div class="kt-grid-nav__item-icon"><i class="flaticon2-position"></i></div>
                <div class="kt-grid-nav__item-title">Startups</div>
            </a>
            <a href="#" class="kt-grid-nav__item">
                <div class="kt-grid-nav__item-icon"><i class="flaticon-line-graph"></i></div>
                <div class="kt-grid-nav__item-title">Incubation Programs</div>
            </a>
            <a href="#" class="kt-grid-nav__item border-right-0">
                <div class="kt-grid-nav__item-icon"><i class="flaticon2-line-chart"></i></div>
                <div class="kt-grid-nav__item-title">Graph</div>
            </a>
        </div>
        <!-- end::Tab-->
</div>