@page "/community"

<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<Head Title="Community" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div id="newCommunity">
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header border-0 py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Network Community</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">You can Create your Own Community</span>
                    </div>
                    <div class="card-toolbar">
                        <a href="community/create" class="btn btn-sm btn-secondary"><i class="far fa-plus-square"></i>&nbsp;Create New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (JoinedGroups != null && JoinedGroups.Count > 0)
{
    <div class="d-flex flex-column-fluid mt-0">
        <div class="container">
            <div class="card card-custom">
                @if (JoinedGroups.Count >= 4)
                {
                    <div id="mygroupsList" class="owl-carousel">
                        @foreach (Groups Group in JoinedGroups)
                        {
                            <GroupsGridCard GroupInfo="Group" OnLeaveGroup="LeaveGroupAsync" OnDeleteGroup="CallDeleteGroupAlert" />
                        }
                    </div>
                }
                else
                {
                    <div id="mygroupsList" class="row">
                        @foreach (Groups Group in JoinedGroups)
                        {
                            <GroupsGridCard GroupInfo="Group" OnLeaveGroup="LeaveGroupAsync" OnDeleteGroup="CallDeleteGroupAlert" />
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="d-flex flex-column-fluid my-3">
    <div class="container">

        @if (State == LoadingContainerState.Loading)
        {
            <p>Loading....</p>
        }
        else if (State == LoadingContainerState.Error)
        {
            <p>Error...</p>
        }
        else if (State == LoadingContainerState.Loaded)
        {        
                @if (RecommendedGroups != null && RecommendedGroups.Count > 0)
                {
                    <div class="row">
                        @if (IsVirtualize)
                        {
                            <Virtualize ItemsProvider="LoadGroupsData" Context="group" ItemSize="10">
                                <div class="col-lg-12">
                                    <GroupsCard GroupDetail="group" OnButtonClick="CommunityInfoCallBack" />
                                </div>
                            </Virtualize>
                        }
                        else
                        {
                            <Virtualize ItemsProvider="LoadGroupsData" Context="group" ItemSize="10">
                                <div class="col-lg-12">
                                    <GroupsCard GroupDetail="group" OnButtonClick="CommunityInfoCallBack" />
                                </div>
                            </Virtualize>
                        }
                    </div>
                }        
        }
    </div>
</div>

<OneUX_SweetAlertBox @ref="ShowSweetAlertBox" Header="Are you sure?" Text="You won't be able to revert this!" Type="warning" ButtonName="Yes, delete it!" OnButtonClickk="DeleteCommunityAsync" />


@code {
   
}
