@page "/bmc/details"

<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="card card-custom gutter-b ribbon ribbon-top">
                    <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Business App</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img src="_content/OneUX/assets/imgs/BMC-Logo.jpg" alt="coverImg">

                                </div>

                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            Business Model Canvas
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Contacts-->
                                        <!--end: Content-->
                                    </div>
                                    <!--end: Info-->
                                </div>
                                <div class="separator separator-solid my-7"></div>
                                The Business Model Canvas is a business tool used to visualise all the building blocks when you want to start a business, including customers, route to market, value proposition and finance.
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Overview Of Business Model Canvas</h3>
                        </div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Text-->
                        <div class="row">


                            The Business Model Canvas reflects systematically on your business model, so you can focus on your business model segment by segment. This also means you can start with a brain dump, filling out the segments the spring to your mind first and then work on the empty segments to close the gaps. The following list with questions will help you brainstorm and compare several variations and ideas for your next business model innovation

                            <br /><br />
                            <div class="timeline timeline-justified timeline-4">
                                <div class="timeline-bar"></div>
                                <div class="timeline-items">
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Key Partners</span>
                                        </div>

                                        <div class="timeline-content">
                                            <ul>
                                                <li>
                                                    Who are your key partners/suppliers?

                                                </li>
                                                <li>What are the motivations for the partnerships?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Key Activities</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li> What key activities does your value proposition require?</li>
                                                <li>

                                                    What activities are important the most in distribution channels, customer relationships, revenue stream…?
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-primary"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Value Proposition</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>
                                                    What core value do you deliver to the customer?

                                                </li>
                                                <li> Which customer needs are you satisfying?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-items">
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Customer Relationship</span>
                                        </div>

                                        <div class="timeline-content">
                                            <ul>
                                                <li>What relationship that the target customer expects you to establish?</li>
                                                <li>How can you integrate that into your business in terms of cost and format?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Customer Segment</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>Which classes are you creating values for?</li>
                                                <li>Who is your most important customer?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-primary"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Key Resource</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>What key resources does your value proposition require?</li>
                                                <li>What resources are important the most in distribution channels, customer relationships, revenue stream…?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-items">
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Distribution Channel</span>
                                        </div>

                                        <div class="timeline-content">
                                            <ul>
                                                <li>Through which channels that your customers want to be reached?</li>
                                                <li>Which channels work best? How much do they cost? How can they be integrated into your and your customers’ routines?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Cost Structure</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>What are the most cost in your business?</li>
                                                <li>Which key resources/ activities are most expensive?</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-badge">
                                            <div class="bg-primary"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold">Revenue Stream</span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>
                                                    For what value are your customers willing to pay?
                                                </li>
                                                <li>What and how do they recently pay? How would they prefer to pay?</li>
                                                <li>How much does every revenue stream contribute to the overall revenues?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>


