@page "/bplan/details"

<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="card card-custom gutter-b ribbon ribbon-top">
                    <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Business</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img src="_content/OneUX/assets/imgs/BusinessPlan-Logo.jpg" alt="coverImg">

                                </div>

                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            Business Plan
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Contacts-->
                                        <!--end: Content-->
                                    </div>
                                    <!--end: Info-->
                                </div>
                                <div class="separator separator-solid my-7"></div>
                                A business plan is a critical part of venture forecast. In addition to helping you budget for current and future employees, business plan enables you to think through who you should hire and when you should hire them.
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Overview Of Business Plan</h3>
                        </div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Text-->
                        <div class="row">


                            A business plan is a critical part of venture forecast. In addition to helping you budget for current and future employees, business plan enables you to think through who you should hire and when you should hire them. If you’re pitching to angel investors or venture capitalists for funding, they will want to see why your team is uniquely suited to grow and scale your business, as well as your hiring plan.
                            <br /><br />


                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>




