@page "/capTable/details"
    <OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column-fluid">
                <div class="container">
                    <div class="card card-custom gutter-b ribbon ribbon-top">
                        <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Simulation</div>
                        <div class="card-body">
                            <div class="d-flex">
                                <!--begin: Pic-->
                                <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                    <div class="symbol symbol-50 symbol-lg-120">
                                        <img src="_content/OneUX/assets/imgs/Captable-Logo.jpg" alt="coverImg">

                                    </div>

                                </div>
                                <!--end: Pic-->
                                <!--begin: Info-->
                                <div class="flex-grow-1">
                                    <!--begin: Title-->
                                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="mr-3">
                                            <!--begin::Name-->
                                            <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                               Cap Table
                                            </a>
                                            <!--end::Name-->
                                            <!--begin::Contacts-->
                                            <!--end: Content-->
                                        </div>
                                        <!--end: Info-->
                                    </div>
                                    <div class="separator separator-solid my-7"></div>
                                    Cap Table helps to answer a simple question of what will be the effect of financing on my ownership.The simulator takes care of calculating the founder's ownership at every round. It will give an idea about your valuation before and after investment to help you get an idea about the premoney and post money evaluation. Apart from that , the Venture Simulator will be able to predict as well regarding the probable outcome of meeting the venture capitalist.
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Overview Of Cap Table</h3>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Text-->
                            <div class="row">
                                Cap Table App let's you analyze your stake of ownership and valuation before and after investment. Along with that it will help you identify what investment will help you gain more profits<br /><br />
                                The Simulations provides us with a safe virtual environment where we can experience what it takes to be an entrepreneur as they start-up a new business. Just like in the real business world, we can analyze the market and evaluate various business opportunities. This helps in developing the initial business strategy while launching new firms and evaluating existing firms.

                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Body-->
                    </div>


                </div>
            </div>
        </div>
    </div>
    
