@page "/culture/details"

<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="card card-custom gutter-b ribbon ribbon-top">
                    <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Business</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img src="_content/OneUX/assets/imgs/Culture-Logo.png" alt="coverImg">

                                </div>

                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            Productivity Tracker
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Contacts-->
                                        <!--end: Content-->
                                    </div>
                                    <!--end: Info-->
                                </div>
                                <div class="separator separator-solid my-7"></div>
                                It is a tool that enables the employees and employer to track the productivity of individuals and teams using various metrics including number of hours in office, punch in punch out time, records of quantifiable work done. It will include features that will discourage employees from engaging in malpractices like trying to punch in from home. Furthermore, it will include guidelines/framework/ features that will help employers and employees measure the work done by an individual as opposed to average work done by his/her peers and/or industry average. ( Proposal)
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Overview Of Productivity Tracker</h3>
                        </div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Text-->
                        <div class="row">


                            The primary purpose of productivity Tracker is to enable both the employer and employees to have quantifiable and verifiable data and records of the work they have done. This will further enable them to identify trends and alter strategies and alter their course of action. The vision is to increase transparency which will help everyone in the organization see a black and white picture of the contribution made by a particular individual and base business decisions on data. <br /><br />


                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>

