@page "/runway/details"



<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="card card-custom gutter-b ribbon ribbon-top">
                    <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Simulation</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img src="_content/OneUX/assets/imgs/Runway-Logo.png" alt="coverImg">

                                </div>

                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            Startup Runway
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Contacts-->
                                        <!--end: Content-->
                                    </div>
                                    <!--end: Info-->
                                </div>
                                <div class="separator separator-solid my-7"></div>
                                Startup Runway app is a measure of how quickly a business is losing, or burning through, money. This is a particularly important metric for startups and venture-backed businesses that might be operating at a loss intentionally, investing more than they’re earning back into the business. This calculation helps business owners understand how long they can continue to operate at this rate before running out of money, which is called the cash runway.
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Overview Of Startup Runway</h3>
                        </div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Text-->
                        <div class="row">
                            Startup runway is similar to how an actual runway allows airplanes to take off and land. It refers to how long your company can survive in the market if the income and expenses remain constant. If a startup doesn’t have enough runway, they risk going out of business before they understand the market they’re looking to serve.
                            Calculating the ideal runway length is crucial to ensure all planes are able to take off and land safely. If the runway is too short, it won’t be safe for planes to take off or land. If the runway is too long, you wasted resources without providing additional benefit. In the startup world, you will often hear entrepreneurs talk about a startup or funding runway. This refers to how many months your company can operate before it runs out of money.
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>



