@page "/sketchpad/details"


<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="card card-custom gutter-b ribbon ribbon-top">
                    <div class="ribbon-target bg-primary" style="top: -2px; right: 40px;">Collaborative</div>
                    <div class="card-body">
                        <div class="d-flex">
                            <!--begin: Pic-->
                            <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
                                <div class="symbol symbol-50 symbol-lg-120">
                                    <img src="_content/OneUX/assets/imgs/Sketchpad-Logo.jpg" alt="coverImg">

                                </div>

                            </div>
                            <!--end: Pic-->
                            <!--begin: Info-->
                            <div class="flex-grow-1">
                                <!--begin: Title-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="mr-3">
                                        <!--begin::Name-->
                                        <a class="d-flex text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                            Sketchpad
                                        </a>
                                        <!--end::Name-->
                                        <!--begin::Contacts-->
                                        <!--end: Content-->
                                    </div>
                                    <!--end: Info-->
                                </div>
                                <div class="separator separator-solid my-7"></div>
                                Create and save drawings at the click of a button. SketchPad is a simple to use app that allows you to create and save quick and important sketches.Unleash your creativity with SketchPad. Draw, illustrate, sketch, doodle, or scribble - the choice is up to you.
                            </div>

                        </div>
                    </div>
                </div>



                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Overview Of Sketchpad</h3>
                        </div>
                    </div>
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Text-->
                        <div class="row">
                            <div class="timeline timeline-4">
                                <div class="timeline-bar"></div>
                                <div class="timeline-items">
                                    <div class="timeline-item timeline-item-left">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold"><b> Work remotely with anyone, anywhere</b></span>
                                        </div>

                                        <div class="timeline-content">
                                            <ul>
                                                <li>
                                                    Work with remote clients, dispersed teams, at home team members, and even individuals on the road.
                                                </li>
                                                <li>
                                                    SketchTogether effortlessly connects people, regardless of where they are geographically.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold"><b>Make it happen, fast</b></span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>Set up a meeting instantly to share thoughts and ideas with others, and see their contributions in real time.</li>
                                                <li>SketchPad gets work done when it needs to be done; no overhead setting up, preparing slides, or inviting people to a meeting.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item timeline-item-left">
                                        <div class="timeline-badge">
                                            <div class="bg-danger"></div>
                                        </div>

                                        <div class="timeline-label">
                                            <span class="text-primary font-weight-bold">Contribute fluidly from any device</span>
                                        </div>

                                        <div class="timeline-content">
                                            <ul>
                                                <li>Use a tablet, desktop, electronic whiteboard, or even mobile phone to join.</li>
                                                <li>SketchPad enables effective and efficient creation, review, and organization of any type of content, as fluidly as pen and paper.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="timeline-item timeline-item-right">
                                        <div class="timeline-badge">
                                            <div class="bg-success"></div>
                                        </div>
                                        <div class="timeline-label text-primary">
                                            <span class="text-primary font-weight-bold"><b>Access all content securely</b></span>
                                        </div>
                                        <div class="timeline-content">
                                            <ul>
                                                <li>Organize content per client, project, or other grouping of choice to revisit and edit it at any future time.</li>
                                                <li>SketchPad safely and securely manages all content in StartupEd's Incubation Cloud.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Body-->
                </div>


            </div>
        </div>
    </div>
</div>


