<!--begin::Modal-->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold" id="aboutModalLabel">About Us</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-2">
                    <p class="font-weight-bold">
                        StartupEd is a marketplace network for founders & startup
                        ecosystem players.We provide incubation platform as a cloud
                        service via personalized entrepreneurship education and smart
                        apps for joint venture development.
                    </p>
                </div>
                <div class="font-weight-bold">
                    <span><b>Release Date - @VersionService.ReleaseDate.ToString("dd MMMM yy")</b></span>
                    <span class="ml-20 font-size-h5">@VersionService.ReleaseInfo</span>
                </div>
                <div class="font-weight-bold">
                    <span><b>@AssemblyVersion</b></span>
                </div>
                <div class="mt-10">
                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                    </span>
                    <span class="text-dark">Made in Delhi, <i class="far fa-heart icon-md text-danger"></i> India</span>
                    <span class="ml-10">
                        <a href="https://goo.gl/maps/XsoZRtLRLDNxE99fA" class="btn btn-light-primary" target="_blank">View Map</a>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->


@code{
    [Parameter] public string AssemblyVersion { get; set; }

    VersionInfo MyVersion = new VersionInfo();
    protected override void OnInitialized()
    {
        try
        {
            SLog.Write("Getting Assembly Version...!");
            AssemblyVersion = MyVersion.SetAssemblyVersion();
        }
        catch (Exception e)
        {
            SLog.Write(e.Message);
        }

    }

}

