@page "/fileuploader"

<h3>OneUX_FileUploader</h3>

<div class="col-lg-6">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    Auto Upload With External Sources
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="uppy" id="kt_uppy_1">
                <div class="uppy-dashboard"></div>
                <div class="uppy-progress"></div>
            </div>
        </div>
    </div>
    <!--end::Card-->
</div>

@code {


}
