<div class="d-flex flex-column mb-2 align-items-end">
    <div class="d-flex align-items-center">
        @if (MessagedAt.ToString("MM/dd/yyyy") == DateTime.UtcNow.ToString("MM/dd/yyyy"))
        {
            <div>
                <span class="text-muted font-size-sm text-right p-0">@MessagedAt.ToString("h:mm tt")</span>
                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold">You</a>
            </div>            
        }
        else
        {
            <div>
                <span class="text-muted font-size-sm text-right p-0">@MessagedAt.ToString("dd MMMM yyyy h:mm tt")</span>
                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold">You</a>
            </div>
        }

        <div class="symbol symbol-circle symbol-30 ml-3">
            @if (!string.IsNullOrEmpty(AvatarUrl))
            {
                <div class="symbol-label" style="background-image: url('@AvatarUrl')"></div>
            }
            else
            {
                <div class="symbol-label" style="background-image: url('https://s1.startuped.net/incubation_cloud/assets/media/users/default.jpg')"></div>
            }
        </div>
    </div>
    <div class="mt-1 rounded p-2 bg-light-success text-dark-50 font-weight-bold font-size-md text-right max-w-400px">
        <p class="text-left p-0 m-0">@((MarkupString)MessageValue)</p>
    </div>
</div>
