@page "/settings/password/change/{UserId}"


<div class="flex-row-fluid ml-lg-8">
    <div class="card card-custom">
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-lg input-group-solid">
                        <input id="oldPassword" type="password" class="form-control form-control-lg form-control-solid" @bind="@CurrentPassword" placeholder="Current password" />
                    </div>
                </div>
                <span class="form-text pl-5">
                    <a href="request-password-reset" class="text-hover-primary pt-1" id="kt_login_forgot">Forgot Password ?</a>
                </span>
            </div>            
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-lg input-group-solid">
                        <input id="newPassword" type="password" class="form-control form-control-lg form-control-solid" @bind="@NewPassword" placeholder="New password" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert">Confirm Password</label>
                <div class="col-lg-9 col-xl-6 input-group">
                    <div class="input-group input-group-lg input-group-solid">
                        <input id="confirmPassword" type="password" class="form-control form-control-lg form-control-solid" @bind="@ConfirmPassword" placeholder="Verify password" />
                        <span class="input-group-append">
                            <OneUX_Button Class="btn-default" Icon="far fa-eye" id="passwordShowIcon" OnClickCallback="@ShowConfirmPassword"></OneUX_Button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" @onclick="SubmitChangePassword">Save</button>
            </div>
        </div>
    </div>
</div>


@code{

   

}



