@page "/project/{Id}/{Name}/Kanban"
<div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <a href="/" class="text-dark font-weight-bold my-1 mr-5">Home</a>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="project/create" class="text-muted">Project</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="project/@Id/@Name/Kanban" class="text-muted">Task</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        @if (TeamMembers != null && TeamMembers.Count > 0)
        {
            <KanbanContainer TaskList="AllTask" OnStatusUpdated="HandleStatusUpdated" PModel="PModel" ModelService="ModelService" OnTaskListUpdate="LoadData" TeamMembers="TeamMembers">
                @foreach (var i in PModel.BoardStatus)
                {
                    <KanbanItemList TaskStatus=@i TeamMembers="TeamMembers" Profiles="Profiles" OnTaskUpdate="LoadData"></KanbanItemList>
                }
            </KanbanContainer>
        }
    </div>
</div>

@code{
   
}
