@page "/milestone1"
<div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">
    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Milestones
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_portlet_tabs_1_1_1_content" role="tab">
                            Today
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_1_2_content" role="tab">
                            Week
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_1_3_content" role="tab">
                            Month
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="kt_portlet_tabs_1_1_1_content" role="tabpanel">
                    <div class="kt-scroll" data-scroll="true" style="height: 420px;" data-mobile-height="350">

                        <!--Begin::Timeline -->
                        <div class="kt-timeline">

                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--success">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-feed kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--danger">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-safe-shield-protection kt-font-danger"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall & order to take aktion on User Preferences
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--brand">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon2-box kt-font-brand"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Yestardey</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    FlyMore design mock-ups been uploadet by designers Bob, Naomi, Richard
                                </a>
                                <div class="kt-timeline__item-info">
                                    PSD, Sketch, AJ
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--warning">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-pie-chart-1 kt-font-warning"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    Meeting with Ken Digital Corp ot Unit14, 3 Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                                </a>
                                <div class="kt-timeline__item-info">
                                    Meeting, Customer
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--info">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-notepad kt-font-info"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--accent">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-bell kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall & order to take aktion on User Preferences
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                        </div>

                        <!--End::Timeline 1 -->
                    </div>
                </div>
                <div class="tab-pane fade" id="kt_portlet_tabs_1_1_2_content" role="tabpanel">
                    <div class="kt-scroll" data-scroll="true" style="height: 420px;" data-mobile-height="350">

                        <!--Begin::Timeline -->
                        <div class="kt-timeline">

                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--info">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-psd  kt-font-info"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall &amp; order to take<br> aktion on User Preferences
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--success">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-pie-chart-1 kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--accent">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-shopping-basket kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall &amp; order to take<br> aktion on User references
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--warning">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-rotate kt-font-warning"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--brand">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-paper-plane-1 kt-font-brand"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    Meeting with Ken Digital Corp ot Unit14, 3<br> Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                                </a>
                                <div class="kt-timeline__item-info">
                                    Meeting, Customer
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--danger">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-pie-chart-1 kt-font-danger"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Yestardey</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                                </a>
                                <div class="kt-timeline__item-info">
                                    PSD, Sketch, AJ
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--warning">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-security kt-font-warning"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Yestardey</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--brand">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-price-tag kt-font-brand"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                        </div>

                        <!--End::Timeline 1 -->
                    </div>
                </div>
                <div class="tab-pane fade" id="kt_portlet_tabs_1_1_3_content" role="tabpanel">
                    <div class="kt-scroll" data-scroll="true" style="height: 420px;" data-mobile-height="350">

                        <!--Begin::Timeline -->
                        <div class="kt-timeline">

                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--brand">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-medal kt-font-brand"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    Meeting with Ken Digital Corp ot Unit14, 3<br> Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                                </a>
                                <div class="kt-timeline__item-info">
                                    Meeting, Customer
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--danger">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-safe-shield-protection kt-font-danger"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Yestardey</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                                </a>
                                <div class="kt-timeline__item-info">
                                    PSD, Sketch, AJ
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--info">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon2-box  kt-font-info"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall &amp; order to take<br> aktion on User Preferences
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--success">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-pie-chart-1 kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--accent">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-envelope kt-font-success"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    New secyrity alert by Firewall &amp; order to take<br> aktion on User references
                                </a>
                                <div class="kt-timeline__item-info">
                                    Security, Fieewall
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--warning">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-rotate kt-font-warning"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--info">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-feed kt-font-info"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">Yestardey</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                            <!--Begin::Item -->
                            <div class="kt-timeline__item kt-timeline__item--brand">
                                <div class="kt-timeline__item-section">
                                    <div class="kt-timeline__item-section-border">
                                        <div class="kt-timeline__item-section-icon">
                                            <i class="flaticon-download-1 kt-font-brand"></i>
                                        </div>
                                    </div>
                                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                                </div>
                                <a href="" class="kt-timeline__item-text">
                                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                                </a>
                                <div class="kt-timeline__item-info">
                                    HTML,CSS,VueJS
                                </div>
                            </div>

                            <!--End::Item -->
                        </div>

                        <!--End::Timeline 1 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
