@page "/faq"


<OneUX_SubHeader BreadCrumbItems="Routes" IsInviteShow="true" />

<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="text-center pt-15">
            <h1 class="font-weight-bolder text-dark mb-6">Frequently Asked Questions</h1>
            <div class="h4 text-dark-50">Deep Dive into our Knowledgebase</div>
        </div>

        <div class="accordion accordion-solid accordion-panel accordion-svg-toggle mb-10" id="faq">
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading1">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1" role="button">
                        <div class="card-label">What Is Incubation Cloud?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq1" class="collapse show" aria-labelledby="faqHeading1" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        StartupEd_Incubation Cloud is a launchpad that equips and empowers people to build their own companies. We are a cloud entrepreneurship school and incubation center that educates and incubates innovative startups. It is a marketplace for all the players of the startup ecosystem.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading2">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2" role="button">
                        <div class="card-label">How will StartupEd-Incubation Cloud benefit me?</div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        We have created a culture wherein you come to a platform, network with different players, learn from the experienced and build your idea.
                        Through interacting with people, you will keep a pulse on the job market, stay in touch with current trends, and meet prospective clients, partners,
                        and mentors. Besides developing and improving your skill set, networking gives you access to the resources necessary to foster your career development.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading3">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3" role="button">
                        <div class="card-label">
                            Why is it important to set up my profile?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Build your profile on the network. Your profile is an overview of general information about yourself, and the skill sets that you possess. Creating a profile allows you to save all program opportunities in which you are interested, and to come back at a later time to actually submit an application.
                        You can assess your information and update them through settings available under the user profile that is on the top right corner.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading4">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq4" aria-expanded="false" aria-controls="faq4" role="button">
                        <div class="card-label">
                            How can I grow my network on this platform?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Connect with players from the startup ecosystem and grow your network. Connections are a sign that the user has a strong and influential profile, start conversations and exchange influential information quickly.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading5">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq5" aria-expanded="false" aria-controls="faq5" role="button">
                        <div class="card-label">
                            How does the invite cycle work?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Send invites to people who will add value to the network/will find value in joining the network. The invite can be sent via the action button on the top right navigation bar.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading6">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq6" aria-expanded="false" aria-controls="faq6" role="button">
                        <div class="card-label">
                            How can I grow my idea on the platform?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq6" class="collapse" aria-labelledby="faqHeading6" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Post your idea on the feed and get it validated by the audience instantly. Also, there are various build apps available on the platform through which you can describe, design, challenge, invent, and pivot your business model. It breaks your business model down into easily-understood segments.
                        Using these apps will lead to insights about the customers you serve, what value propositions are offered through what channels, and how your company makes money.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading7">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq7" aria-expanded="false" aria-controls="faq7" role="button">
                        <div class="card-label">
                            How can I collaborate with others and grow my business?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq7" class="collapse" aria-labelledby="faqHeading7" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        You can add your team members to a project and start assigning each other tasks.
                        There are various matrices through which you can keep a track of productivity and also use the virtual sketch board to explain the agenda of the project thoroughly and increase productivity.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading8">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq8" aria-expanded="false" aria-controls="faq8" role="button">
                        <div class="card-label">
                            Will I get certified for the programs that I join?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq8" class="collapse" aria-labelledby="faqHeading8" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        All your productivity is tracked on the platform. You will be awarded a certificate once the project is completed as it embarks the completion of a milestone. You can claim your certificate and publish it on the network.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading9">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq9" aria-expanded="false" aria-controls="faq9" role="button">
                        <div class="card-label">
                            Is it important to be a part of a community?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq9" class="collapse" aria-labelledby="faqHeading9" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        Having a sense of community unites us. Being a part of a community can make us feel as though we are a part of something greater than ourselves. It can give us opportunities to connect with people,
                        to reach for our goals, and makes us feel safe and secure. It's important for every person to have a sense of community.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="card p-6">
                <!--begin::Header-->
                <div class="card-header" id="faqHeading10">
                    <div class="card-title font-size-h4 text-dark collapsed" data-toggle="collapse" data-target="#faq10" aria-expanded="false" aria-controls="faq10" role="button">
                        <div class="card-label">
                            How can I explore through the platform?
                        </div>
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-right.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div id="faq10" class="collapse" aria-labelledby="faqHeading10" data-parent="#faq">
                    <div class="card-body pt-3 font-size-h6 font-weight-normal text-dark-50">
                        We have a search engine available throughout the platform. It acts as a filter for the wealth of information available on the network. It allows users to quickly and easily find information that is of genuine interest or value.
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Item-->
            <br />
            <br />
            <div class="card card-custom p-6 mb-8 mb-lg-0">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <!--begin::Content-->
                    <div class="mr-4">
                        <h3 class="text-dark mb-6">Did not find an answer? Send us a note!</h3>
                        @*<p class="text-dark-50 font-size-lg">
                        Some sort of muted text is required
                        <br />Some sort of muted text is required
                    </p>*@
                    </div>
                    <!--end::Content-->
                    <!--begin::Button-->
                    <a href="feedback" class="btn font-weight-bolder text-uppercase font-size-lg btn-secondary py-3 px-6">Submit a Request</a>
                    <!--end::Button-->
                </div>
            </div>


        </div>

    </div>
</div>



@code {

    

}
